@import url(https://fonts.googleapis.com/css?family=Muli:500,700&display=swap);

* {
	padding: 0;
	margin: 0;
}

body {
	margin: auto;
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;
	text-align: left;
	color: #222;
}

header {
	background-image: url(images/wangama-walking.jpg);
	background-size: cover;
	text-align: center;
	padding: 20px;
}

nav a {
	margin-right: 20px;
	padding: 10px;
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .25em; 
	border-bottom: none;
	font-weight: 700;
	display: inline-block;
}

section {
	width: 50em;
	margin:	auto;
	padding: 20px;
}

footer {
	margin: auto;
}

a {
	text-decoration: none;
	color: #222;
	border-bottom: 1px solid #222;
}

h2 {
	padding: 10px;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

ul {
	list-style-type: none;
}

.header {
	padding: 20px;
	margin: auto;
	text-decoration: none;
	border-bottom: none;
	color: #fff;
	font-weight: 500;
	font-size: 1.5em;
	width: 30em;
}

.gallery {
	width: 10em;
	margin: 0;
}

.social {
	width: 2em;
	text-decoration: none;
	border-bottom: none;
}

#header-img {
	width: 30em;
	margin: auto;
}

#icon {
	width: 4em;
	vertical-align: middle;
}