@import url(https://fonts.googleapis.com/css?family=Muli:500,700&display=swap);

* {
	padding: 0;
	margin: 0;
}

body {
	margin: auto;
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;
	text-align: left;
	color: #222;
}

header {
	background-color: #ffed74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #e8c66a;
	border: 1px black solid;
	padding: 20px;
}

nav a {
	margin-right: 20px;
	padding: 10px;
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .25em; 
	border-bottom: none;
	font-weight: 700;
	display: inline-block;
}

footer {
	background-color: #ff957e;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #222;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

p {
	width: 30em;
}

ul {
	list-style-type: none;
}

.wrapper {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

.header {
	padding: 20px;
	text-decoration: none;
	border-bottom: none;
	color: #fff;
	font-weight: 500;
	font-size: 1.5em;
	width: 30em;
}

.gallery {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
	width: 20em;
	margin-right: 20px;
	display: inline-block;
}

.social {
	width: 2em;
	text-decoration: none;
	border-bottom: none;
	color: #000;
}

#header-img {
	width: 30em;
	margin: auto;
}

#icon {
	width: 4em;
	vertical-align: middle;
}

#about {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

#waystohelp {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}

#donate {
	color: #3eb489;
}

#involved {
	color: #ff9d5c;
}

#mission {
	color: #87ceeb;
}

#join {
	background-color: #ffe2b8;
	border: 1px black solid;
	padding: 20px;
}