* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, sans serif;
}

nav a {
	margin-right: 20px;
}

h2 {
	text-transform: uppercase;
}

img {
	width: 300px;
}

footer {
	text-align: center;
}

#slogan {
	font-style: italic;
}

#hero {
	background-image: url(images/wangama-kids.jpg);
	width: 100%;
	position: relative;
	color: #ffffff;
	text-align: center;
}

.gallery {
	width: 300px
}

.social {
	width: 25px
}