* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, sans serif;
}

nav a {
	margin-right: 20px;
}

img {
	width: 300px;
}

footer {
	text-align: center;
}

#slogan {
	font-style: italic;
}

#hero {
	width: 100%;
}

.gallery {
	width: 300px
}

.social {
	width: 25px
}